# Pinned dependencies that cause breakage
Werkzeug==2.3.3
SQLAlchemy==2.0.0

# Runtime dependencies
Flask==2.3.2
Flask-SQLAlchemy==3.0.2
psycopg2==2.9.5
python-dotenv==0.21.1

# Runtime tools
gunicorn==20.1.0
honcho==1.1.0

# Code quality
pylint==2.16.2
flake8==6.0.0
black==23.1.0

# Testing dependencies
green==3.4.3
factory-boy==3.2.1
coverage==7.1.0

# Utilities
httpie==3.2.1
